{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center; width: 60%; margin: auto; padding: 10px; margin-top: 20px; background-color: gold;">List of Books</h1>

<div style="width: 80%; margin: auto; margin-top: 30px">
    {% if data %}
    <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Book Name</th>
            <!-- <th scope="col">Author Name</th>
            <th scope="col">Category</th>
            <th scope="col">First Publication</th>
            <th scope="col">Last Publication</th>
            <th scope="col">Actions</th> -->
          </tr>
        </thead>
        <tbody>
            {% for item in data %}
              <tr>
                <td>{{item.id}}</td>
                <td><a href="{% url 'detailbook' item.id %}">{{item.book_name}}</a></td>
               
              </tr>
            {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h1 style="text-align: center;">No Data Available...!</h1>
      {% endif %}
</div>
{% endblock %}